@import 'base';

body {
    font-family: 'Roboto', sans-serif;
}

.icon {
    margin-right: .75em;
    font-size: 1.9em;
    color: $secondary-color ;
}

.nav-item {
    padding: .5em 1em;
}

.passenger-list {
    margin-top: 20px;
}


//TODO : Fix this CSS below!

.passenger-list-item {
    font-size: 12px;
    font-weight: 400px;
}

.member-name {
    padding-left: .5em;
    font-size: 12px;
    font-weight: 400px;
}

.map-placeholder {
    height: 275px;
    background-color: antiquewhite;
    width: 350px;
}

.member-list-container {
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 500px;
    background-color: antiquewhite;
}

.passenger-delete {
    background: none;
    border: none;
    padding-right: 5px;
}


