li {
    list-style: none;
}

.nav-item {
    padding: .5em 1em;
}

.user {
    float: right;
    padding: 1em 2em;
}

.hidden {
    display: none;
}

.event-list-item, .ride-list-item {
    padding: 20px 20px;
}

.event-list-item:hover,
.ride-list-item:hover,
.selected {
    background-color: #eee;
}

.event-headers {
    float: left;
    margin-right: 15px;
}

.event, .ride-driver {
    font: bold 18px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
}

.date, .ride-spots {
    font: bold 14px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
}

.event-description {
    font: 200 14px/1.5 Georgia, Times New Roman, serif;
    margin: 3px 0 0 0;
    min-height: 50px;
    display: inline-block;
}

.event-button {
    float: right;
}

.ride-date {
    font: 200 14px/1.5 Georgia, Times New Roman, serif;
    margin: 1px 0 0 0;
}

.ride-image {
    height: 100px;
    float: left;
    margin-right: 15px;
}

.passenger-list {
    margin: 20px 0 0 0;
}

.passenger-list-item {
    margin: 0 10px 0 0;
}

.member-list-item-name {
    padding: 0 0 0 7px;
}

.map-placeholder {
    height: 275px;
    background-color: antiquewhite;
    width: 350px;
}

.member-list-container {
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 500px;
    background-color: antiquewhite;
}

.passenger-delete {
    padding: 0 5px 0 0;
}
