.nav-item {
    padding: .5em 1em;
}

.user {
    float: right;
    padding: 1em 2em;
}

.hidden {
    display: none;
}

.event-list-item, .ride-list-item {
    list-style: none;
    padding: 20px 20px;
}

.event-list-item:hover,
.ride-list-item:hover,
.selected {
    background-color: #eee;
}

.event-headers {
    float: left;
    margin-right: 15px;
}

.event, .ride-driver {
    font: bold 18px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
}

.date, .ride-spots {
    font: bold 14px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
}

.event-description {
    font: 200 14px/1.5 Georgia, Times New Roman, serif;
    margin: 3px 0 0 0;
    min-height: 50px;
    display: inline-block;
}

.event-button {
    float: right;
}

.ride-date {
    font: 200 14px/1.5 Georgia, Times New Roman, serif;
    margin: 1px 0 0 0;
}

.ride-image {
    height: 100px;
    float: left;
    margin-right: 15px;
}

.passenger-list {
    margin: 20px 0 0 0;
}
