body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.nav-item {
    padding: .5em 1em;
}

.user {
    float: right;
    padding: 1em 2em;
}

.hidden {
    display: none;
}

.event-headers {
    float: left;
    margin-right: 15px;
}

.event, .ride-driver {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.date, .ride-spots {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.event-description {
    font: 200 14px/1.5;
    margin: 3px 0 0 0;
    min-height: 50px;
    display: inline-block;
}

.event-button {
    float: right;
}

.ride-date {
    font-weight: 200px;
    font-size: 12px;
    margin: 1px 0 0 0;
}

.ride-image {
    height: 100px;
    float: left;
    margin-right: 15px;
}

.passenger-list {
    margin: 20px 0 0 0;
}

.passenger-list-item {
    opacity: .54;
    font-size: 12px;
    font-weight: 400px;
    margin: 0 10px 0 0;
}

.member-list-item-name {
    padding: 0 0 0 7px;
    opacity: .54;
    font-size: 12px;
    font-weight: 400px;
}

.map-placeholder {
    height: 275px;
    background-color: antiquewhite;
    width: 350px;
}

.member-list-container {
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 500px;
    background-color: antiquewhite;
}

.passenger-delete {
    padding: 0 5px 0 0;
}

.event-view-name {
    font-size: 20px;
    font-weight: 400;
    margin: 29px 0 43px 0;
}

.event-view-address, .event-view-date {
    font-size: 12px;
    font-weight: 400;
    opacity: .54;
    margin: 0 0 14px 0;
}

.event-view-date {
    font-size: 12px;
    font-weight: 400;
    opacity: .54;
    margin: 0 0 38px 0;
}

.event-view-description {
    font-size: 14px;
    color: #9E9E9E;
    font-weight: 400;
    margin: 0;
}

.event-view-container {
    margin: 0 0 0 36px;
}

.ride-all-drivers {
    text-transform: uppercase;
    padding: 18px 0;
    border: 1px solid #DBDBDB;
    border-left-style: none;
    border-right-style: none;
    font-size: 12px;
    font-weight: 500;
}
