@import 'variables';
@import 'mixins';

// TODO : pull in some css reset D=

li {
    list-style: none;
}

ul {
    padding: 0;
}

body, h2, h3 {
    margin: 0;
}

.icon {
    vertical-align: middle;
}

.hidden {
    display: none;
}

