doctype html
html(lang='en')
    head
        title='Carpool'
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500', type='text/css')
        link(rel='stylesheet', href='styles/base.css', type='text/css')
        link(rel='stylesheet', href='styles/app.css', type='text/css')
        link(rel='stylesheet', href='styles/events.css', type='text/css')


        script(type='text/javascript').
            window.organizations = !{JSON.stringify(organizations)};
            window.members = !{JSON.stringify(members)}
            window.events = !{JSON.stringify(events)}

        script(src='bundle.js' type='text/javascript')

    body
        #container
