doctype html
html(lang='en')
    head
        title='Carpool'
        link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css', type='text/css')
        link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

        script(type='text/javascript').
            window.organizations = !{JSON.stringify(organizations)};
            window.members = !{JSON.stringify(members)}

        script(src='bundle.js' type='text/javascript')

    body
        #container
